<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main-nav.ejs') %>

<!-- Content for the Add page -->
<div class="container">
<div class="row">
<div class="offset-md-3 col-md-6">
<h1><%= title %></h1>

<form class="form" method="POST">
<div class="form-group">
<label for="nameTextField">Name</label>
<input type="text" class="form-control"
id="nameTextField"
placeholder="Enter the Survey Name"
name="name" required>
</div>

<div class="form-group">
<label for="ownerTextField">Owner</label>
<input type="text" class="form-control"
id="ownerTextField"
placeholder="Enter the Owner's Name"
name="owner" required>
</div>

<div class="form-group">
<label for="surveyIdTextField">Survey ID</label>
<input type="text" class="form-control"
id="surveyIdTextField"
placeholder="Enter the Survey ID"
name="surveyId" required>
</div>

<div class="form-group">
<label for="statusTextField">Status</label>
<input type="text" class="form-control"
id="statusTextField"
placeholder="Enter the Survey Status"
name="status" required>
</div>
<br>
<button type="submit" class="btn btn-primary">
<i class="fas fa-edit"></i>Submit</button>

<a href="/survey-list" class="btn btn-warning">
<i class="fas fa-undo"></i>Cancel</a>
</form>
</div>
</div>
</div>

<%- include ('../partials/bottom-nav.ejs') %>
<%- include ('../partials/footer.ejs') %>