<!--
File Name : index.js
Developers:  
Piraveen Udayakumar – 301102696
Yonas Berhane       – 301165447
Kyeongbin Noh       – 301130132
Ulkar Zakaryayeva   – 301107604 
Halim Yoo           – 301155567
Syeda Maria         - 301184173
 
Date: November 10, 2021
Description: Survey web application that has full CRUD functionality using Express, Node.JS, MongoDB and EJS templating engine.
-->

<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main-nav.ejs') %>


<div class="card border-light mb-3">
  <div class="p-5 card-body">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/Assets/survey-1.png" class="img-fluid rounded-start survey-img" alt="..." >
        </div>
        <div class="col-md-8">
            <h5 class="display-6 mb-5">Your feedback is important to us. Please fill out this form and submit.</h5>
           
        </div>
      </div>
      <div class="row g-0">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <a type="button" class="btn btn-primary mr-4" href="/survey-list/add">Create a survey</a>
            <a type="button" class="btn btn-success" href="/survey-list">View all surveys</a>
        </div>
      </div>
  </div>
</div>


  <div class="card border-light">
    <div class="card-body">
      <div class="row g-0">
        <div class="col-md-8 offset-4">
            <form method="post" autocomplete="off">
              <fieldset>
                <legend>Your information</legend>
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="formGroupExampleInput" class="form-label">Your name</label>
                      <input type="text" class="form-control" name="name" placeholder="Your name" required autofocus>
                    </div>

                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="" class="form-label">Email</label>
                      <input type="email" class="form-control" name="email" placeholder="Email address" required>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend>Complete your survey</legend>
                <div class="row mt-5 mb-4">
                  <div>
                      <label for="q1" class="form-label">1. <%= survey.q1%></label>
                  </div>
                  <div>
                    <textarea class="form-control form-control-sm" name="comments" rows="2"></textarea>
                  </div>
                </div>

                <div class="row mb-4">
                  <div>
                      <label for="" class="form-label">2. <%= survey.q2%></label>
                  </div>
                   <div>
                    <textarea class="form-control form-control-sm" name="comments" rows="2"></textarea>
                  </div>
                </div>

                <div class="row mb-4">
                  <div>
                      <label for="" class="form-label">3. <%= survey.q3%></label>
                  </div>
                  <div>
                    <textarea class="form-control form-control-sm" name="comments" rows="2"></textarea>
                  </div>
                </div>
               
              </fieldset>

                <div class="mb-3">
                  <button class="btn btn-primary btn-sm " id="submit" type="submit"><i class="fas fa-edit"></i>Submit your survey</button>
                  <a  class="btn btn-warning btn-sm" href="/" > <i class="fa fa-times"></i> Cancel</a>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>


<div class="mt-5 mb-5">
  <hr class="p-3 mb-5">

</div>


  <%- include ('../partials/bottom-nav.ejs') %>
  <%- include ('../partials/footer.ejs') %>


