<!--
File Name : mySurveys.ejs
Developers:  
Piraveen Udayakumar – 301102696
Yonas Berhane       – 301165447
Kyeongbin Noh       – 301130132
Ulkar Zakaryayeva   – 301107604 
Halim Yoo           – 301155567
Syeda Maria         - 301184173
 
Date: November 10, 2021
Description: Survey web application that has full CRUD functionality using Express, Node.JS, MongoDB and EJS templating engine.
-->


<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main-nav.ejs') %>
        <!-- Main Content -->
        <main class="container">
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <h1>
                        <%= title %>
                    </h1>
                    <a href="/survey-list/add" class="btn btn-primary" role="button">
                        <i class="fas fa-plus-circle"></i> Create Survey</a>
                    <br>
                    <table class="table table-bordered table-striped table-hover">
                        <!-- Header Row-->
                        <tr class="d-flex">
                            <% if(typeof displayName == 'string' && displayName) { %>
                                <th class="text-center col-2">Name</th>
                                <th class="text-center col-2">Start Date</th>
                                <th class="text-center col-2">End Date</th>
                                <th class="text-center col-1">Owner</th>
                                <th class="text-center col-2">Number of Responses</th>
                                <th class="text-center col-3">Actions</th>
                            <% } else { %>
                                <th class="text-center col-2">Name</th>
                                <th class="text-center col-2">Start Date</th>
                                <th class="text-center col-2">End Date</th>
                                <th class="text-center col-1">Owner</th>
                                <th class="text-center col-2">Number of Responses </th>
                                <th class="text-center col-3">Actions</th>
                            <% } %>
                        </tr>

                        <!-- Repeatable Template Row -->

                        <% for(let count = 0; count < MySurveys.length; count++) { %>
                            <tr class="d-flex">
                                    <td class="text-center col-2">
                                        <%= MySurveys[count].name %>
                                    </td>
                                   <% if (MySurveys[count].startDate < Date.now()) {%>
                                    <td class="text-center col-2">
                                        Started from <%= MySurveys[count].startDate.toISOString().split('T')[0] %>
                                    </td>
                                    <% }%>
                                    <% if (MySurveys[count].startDate > Date.now()) {%>
                                    <td class="text-center col-2">
                                        Starts from <%= MySurveys[count].startDate.toISOString().split('T')[0] %>
                                    </td>
                                    <% }%>
                                    <% if (MySurveys[count].endDate < Date.now()) {%>

                                    <td class="text-center col-2">
                                       Survey expired <%= MySurveys[count].endDate.toISOString().split('T')[0] %>
                                    </td>
                                    <% }%>
                                    <% if (MySurveys[count].endDate >= Date.now()) {%>
                                    <td class="text-center col-2">
                                       Available until <%= MySurveys[count].endDate.toISOString().split('T')[0] %>
                                    </td>
                                    <%}%>
                                     <td class="text-center col-1">
                                        <%= displayName %>
                                    </td>
                                    <td class="text-center col-2">
                                        <%= MySurveys[count].response1.length %>
                                    </td>
                                     <td class="text-center col-1">
                                        <!-- href="/survey-list/statistics/<%= MySurveys[count]._id %>" --> <a  class="btn btn-success btn-sm"> 
                                        <i class="fas fa-chart-bar"></i> Statistics</a>
                                    </td>
                                    
                                    <td class="text-center col-1">
                                        <a href="/survey-list/edit/<%= MySurveys[count]._id %>" class="btn btn-primary btn-sm">
                                        <i class="fas fa-pencil-alt"></i> <br>Edit Survey</a>
                                    </td>
                                    <td class="text-center col-1">
                                        <a href="/survey-list/delete/<%= MySurveys[count]._id %>" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i> Delete Survey</a>
                                    </td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </main><br><br>

        <%- include ('../partials/bottom-nav.ejs') %>
        <%- include ('../partials/footer.ejs') %>