<!--
File Name : index.js
Developers:  
Piraveen Udayakumar – 301102696
Yonas Berhane       – 301165447
Kyeongbin Noh       – 301130132
Ulkar Zakaryayeva   – 301107604 
Halim Yoo           – 301155567
Syeda Maria         - 301184173
 
Date: November 10, 2021
Description: Survey web application that has full CRUD functionality using Express, Node.JS, MongoDB and EJS templating engine.
-->

<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main-nav.ejs') %>
        <!-- Main Content -->
        <main class="container">
        <!-- Message Area -->

  <% if(messages.length > 0) {%>
  <div class="alert alert-danger"> <%=messages%></div>
  <% } %>

  <% if(responseSaved.length > 0) {%>
  <div class="alert alert-success"> <%=responseSaved%></div>
  <% } %>
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <h1>
                        <%= title %>
                    </h1>
                    <a href="/survey-list/add" class="btn btn-primary" role="button">
                        <i class="fas fa-plus-circle"></i> Create Survey</a>
                    <br>
                    <table class="table table-bordered table-striped table-hover">
                        <!-- Header Row-->
                        <tr class="d-flex">
                                <th class="text-center col-2">Name</th>
                                <th class="text-center col-3">Start Date</th>
                                <th class="text-center col-3">End Date</th>
                                <th class="text-center col-1">Owner</th>
                                <th class="text-center col-3">Actions</th>
                        </tr>

                        <!-- Repeatable Template Row -->

                        <% for(let count = 0; count < SurveyList.length; count++) { %>
                            <tr class="d-flex">
                                    <td class="text-center col-2">
                                        <%= SurveyList[count].name %>
                                    </td>
                                    <% if (SurveyList[count].startDate < Date.now()) {%>
                                    <td class="text-center col-3">
                                        Started from <%= SurveyList[count].startDate.toISOString().split('T')[0] %>
                                    </td>
                                    <% }%>
                                    <% if (SurveyList[count].startDate > Date.now()) {%>
                                    <td class="text-center col-3">
                                        Starts from <%= SurveyList[count].startDate.toISOString().split('T')[0] %>
                                    </td>
                                    <% }%>
                                    <% if (SurveyList[count].endDate < Date.now()) {%>

                                    <td class="text-center col-3">
                                       Survey expired <%= SurveyList[count].endDate.toISOString().split('T')[0] %>
                                    </td>
                                    <% }%>
                                    <% if (SurveyList[count].endDate >= Date.now()) {%>
                                    <td class="text-center col-3">
                                       Available until <%= SurveyList[count].endDate.toISOString().split('T')[0] %>
                                    </td>
                                    <%}%>
                                     <td class="text-center col-1">
                                        <%= SurveyList[count].owner %>
                                    </td>
                                    <td class="text-center col-3">
                                        <a href="/survey-list/respond/<%= SurveyList[count]._id %>" class="btn btn-secondary btn-sm">
                                        <i class="fas fa-poll"></i> Respond Survey</a>
                                    </td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </main><br><br>

        <%- include ('../partials/bottom-nav.ejs') %>
        <%- include ('../partials/footer.ejs') %>