<!--File Name : register.ejs
Developers:  
Piraveen Udayakumar – 301102696
Yonas Berhane       – 301165447
Kyeongbin Noh       – 301130132
Ulkar Zakaryayeva   – 301107604 
Halim Yoo           – 301155567
Syeda Maria         - 301184173
Date: November 22, 2021
Description: Survey web application that has full CRUD functionality using Express, Node.JS, MongoDB and EJS templating engine.
-->

<%- include ('../partials/header.ejs') %> 
<%- include('../partials/main-nav.ejs') %>
<div class="banner">
  <div class="banner-1">Please Register</div>
  </div>

<main class="container">
  <!-- Message Area -->

  <% if(messages.length > 0) {%>
  <div class="alert alert-danger"> <%=messages%> </div>
  <% } %>

  <div class="row">
    <div class="offset-md-4 col-md-4">
      <h1></h1>
      <form method="POST" autocomplete="off">
        <fieldset class="form-group">
          <label for="username">Username: </label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Enter username"
            id="username"
            required
            autofocus
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="password">Password: </label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Enter password"
            id="password"
            required
          />
        </fieldset>

          <fieldset class="form-group">
          <label for="email">Email: </label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter email"
            id="email"
            required>
        </fieldset>
        
        <fieldset class="form-group">
          <label for="displayName">Display Name: </label>
          <input
            type="text"
            class="form-control"
            name="displayName"
            placeholder="Enter Display Name"
            id="displayName"
            required>
        </fieldset>



        <fieldset class="form-group text-right">
          <input type="submit" class="btn btn-success" value="Register" />
          <a href="/">
            <input type="text" class="btn btn-warning" value="Cancel" />
          </a>
        </fieldset>
      </form>
      <img src="/Assets/register.png" >
    </div>
  </div>

</main>

<%- include ('../partials/bottom-nav.ejs') %> 
<%- include('../partials/footer.ejs') %>